# --- Vector DB Configuration ---
# Set to "FAISS" (default) or "PINECONE"
VECTOR_DB=FAISS

# --- FAISS Settings (if VECTOR_DB=FAISS) ---
# Path where the local index will be saved/loaded
LOCAL_FAISS_INDEX_PATH=../notebooks/artifacts/faiss_index

# --- Pinecone Settings (if VECTOR_DB=PINECONE) ---
PINECONE_API_KEY=""
PINECONE_ENVIRONMENT=""
PINECONE_INDEX_NAME="furnifindr"

# --- Embedding Model ---
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2

# --- Generative AI Model (OpenAI) ---
# Required for generating creative descriptions
OPENAI_API_KEY=""